<div class="main">
  <div class="icons-list">
    <app-icons></app-icons>
  </div>

  <div class="users-list">
    <app-users></app-users>
  </div>

  <div class="main-div">
    <!-- Navbar section containing icons for phone and video -->
    <div class="navbar-div">

      <div class="user-chat">
    
        <div class="img-div"></div>

        <div class="content">
            <p>user name</p>
            <p class="status">online</p>
        </div>
  
  </div>

      <div class="icon-div">
        <mat-icon class="phone">phone_in_talk</mat-icon>
        <mat-icon class="video">voice_chat</mat-icon>
      </div>
    </div>

    <!-- Section displaying the chat messages -->
    
  <div class="chat-container" *ngFor="let msg of messages" >
    <p class="msg">{{msg.message}}</p>
    </div>

    <!-- input-box -->
    <div class="message">
      <div class="message-box">
        <input
          class="message-input"
          [(ngModel)]="message"
          (keydown.enter)="sendMessage()"
          placeholder="Type a message"
          type="text"
        />
      </div>
      <div class="voice-message">
        <mat-icon (click)="sendMessage()">send</mat-icon>
      </div>
    </div>
  </div>
</div>
