.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/image.png");
  background-size: cover;
  background-position: center;
}
.main-div {
  width: 100%;
  overflow: auto;
}

.icons-list {
  max-height: 60px;
  max-width: 100vh;
  margin-right: 5px;
}

.navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  height: 70px;
  background-color: #1f1d1d;
  width: 100%;
  /* position: fixed; */
}

.icon-div {
  display: flex;
  gap: 2rem;
  margin-right: 40px;
  color: white;
}

.main-div > nav {
  display: flex;
  align-items: center;
}

.users-list {
  max-height: 100vh;
  max-width: 30%;
  background-color: lightgreen;
}

.message{
  display: flex;
  bottom: 0;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.message .message-box{
  width: 90%;
}

input{
  padding: 10px;
  width: 100%;
  height: 30px;
  background-color:#1f1d1d;
  color: white;
  border-radius: 10rem;
}

input:focus{
  outline: none; 
}

.voice-message{
  display: flex;
  background-color: #312F2F;
  color: white;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 10rem;
  margin: 20px;
}

.user-chat {
  display: flex;
  gap: 20px;
}

.img-div {
  display: flex;
  height: 45px;
  width: 45px;
  border-radius: 5rem;
  background-color: lightblue;
  margin-left: 20px;
}

.content {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.content .status {
  color: #21ff5f;
}
p {
  margin: 0;
  padding: 0;
}

.chat-container {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  padding: 10px;
  max-height: 70%;
}

.msg {
  background-color: #1f1d1d;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
  word-wrap: break-word;
  height: 90%;
  color: white;
}


.chat-display-section{
  height: 78%;
  width: 100%;
   margin: 10px 0 10px 0;
  /* background-color: #21ff5f; */
  overflow: auto;
}