<div class="main">
  <div class="icons-list">
    <app-icons></app-icons>
  </div>

  <div class="users-list">
    <app-users (userSelected)="onUserSelected($event)"></app-users>
  </div>

  <div class="main-div" *ngIf="visible">
    <!-- Navbar section containing icons for phone and video -->
    <div class="navbar-div">

      <div class="user-chat" *ngIf="userDetails">
    
        <div class="img-div" > 
          <img *ngIf="userDetails.image;else defaultImage"
           [src]="imgSource(userDetails.image)" alt="">

          <ng-template class="img-div" #defaultImage>
            <div [ngClass]="'default-image'"></div>
          </ng-template>
        </div>

        <div class="content" >
            <p>{{userDetails.name}}</p>
            <p class="status">online</p>
        </div>
  
  </div>

      <div class="icon-div">
        <mat-icon class="phone">phone_in_talk</mat-icon>
        <mat-icon class="video">voice_chat</mat-icon>
      </div>
    </div>

    <!-- Section displaying the chat messages -->
    
  <div class="chat-display-section"
   >
    <div class="chat-container" *ngFor="let msg of messages"  >
      <p class="msg">{{msg.message}}</p>
      </div>
  </div>

    <!-- input-box -->
    <div class="message">
      <div class="message-box">
        <input
          class="message-input"
          [(ngModel)]="message"
          (keydown.enter)="sendMessage()"
          placeholder="Type a message"
          type="text"
        />
      </div>
      <div class="voice-message">
        <mat-icon (click)="sendMessage()">send</mat-icon>
      </div>
    </div>
  </div>
 </div>
