<body>
  <div class="container">
    <form
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit(name.value, phone.value)"
    >
      <div class="heading-flex-box">
        <p>Signup</p>
      </div>

      <div class="flex-box">
        <label for="full-name">Full Name</label>
        <input
          #name
          type="text"
          id="full-name"
          formControlName="fullName"
          class="input-box"
          placeholder="Enter your name"
        />

        <label for="phone-number">Phone Number</label>
        <input
          #phone
          type="text"
          id="phone-number"
          maxlength="10"
          formControlName="phoneNumber"
          class="input-box"
          placeholder="Enter your mobile number"
        />
      </div>

      <div class="otp-btn-div">
        <button
          [disabled]="!isEnabled"
          (click)="onClick()"
          [ngClass]="{ 'is-active': isEnabled, clicked: buttonClicked }"
          type="button"
          class="otp-btn"
        >
          Send OTP
        </button>
      </div>

      <div class="hidden-container" [ngClass]="{ display: container }">
        <div class="otp-boxes">
          <ng-otp-input
            class="otp-input-boxes"
            [config]="{
              length: 4,
              allowNumbersOnly: true,
              inputStyles: {
                'background-color': 'transparent',
                'border': '1px solid #ccc',
                'color': 'white',
                'font-size': '16px',
                'text-align': 'center',  
                'focus':'outline:none'
              }
            }"
            (onInputChange)="onOtpChange($event)"
          ></ng-otp-input>
        </div>
        <div class="button">
          <button type="submit" class="btn2">Continue</button>
        </div>
      </div>
    </form>
  </div>
</body>

<router-outlet></router-outlet>